{% extends "base.html" %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock header %}

{% block content %}
  <div class="container-fluid">
    <div class="container-fluid">
      <div class="container text-center">
        <h1 class="display-4"><b>KOLABORASI DENGAN KAMI!</b></h1>
      </div>
    </div>
  <br>
    <div class="row">
      <div class="col-sm-2">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><h5><b>Layanan</b></h5></li>
          <li class="layanan_menu list-group-item"><a href="{% url 'jam' %}">Jam Operasional</a></li>
          <li class="layanan_menu list-group-item"><a href="{% url 'berita' %}">Berita</a></li>
          <li class="layanan_menu list-group-item"><a href="{% url 'bukus' %}">Buku</a></li>
          <li class="layanan_menu list-group-item"><a href="{% url 'journals' %}">Jurnal</a></li>
        </ul>
      </div>  
      <div class="col-sm-10"> 
          <div class="row">
            <div class="col text-center">
            </div>
          </div>
          <form>
            <div class="card">
              <div class="card-body">
                <div class="form-row">
                  <label><b>Nama Anda / Perusahaan</b></label><br>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Masukkan Nama Anda / Perusahaan" aria-label="Nama Anda / Perusahaan" aria-describedby="basic-addon1"><br>
                  </div>
                  <label><b>Alamat Email</b></label><br>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon2"></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Masukkan Alamat Email" aria-label="Alamat Email" aria-describedby="basic-addon1">
                  </div>
                  <label><b>Nomor Telepon</b></label><br>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon3"></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Masukkan Nomor Telepon" aria-label="Nomor Telepon" aria-describedby="basic-addon1">
                  </div>
                  <label><b>Keterangan Tambahan</b></label><br>
                  <div class="input-group mb-3">
                    <div class="input-group">
                      <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Masukkan Keterangan" rows="5" width="30"></textarea>
                    </div>
                    <br>
                  </div>
                  <div class="input-group mb-3">
                    <div class="form-group">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                          <b>Menyetujui syarat dan ketentuan</b>
                        </label>
                      </div>
                    </div>
                  </div>
                  <button class="btn btn-primary" type="submit">Kirim Pesan</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
<br><br><br><br><br><br><br><br><br>
{% endblock content %}