{% extends "base.html" %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock header %}

{% block content %}
<div class="container-fluid">
	<div class="container-fluid">
		<div class="container text-center">
			<h1 class="display-4"><b>DOKUMEN</b></h1><br>
		</div>
		</div>
		<br>
    <div class="row">
      <div class="col-sm-2">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><h5><b>Resources</b></h5></li>
          <li class="layanan_menu list-group-item"><a href="{% url 'bukus' %}">Buku</a></li>
          <li class="layanan_menu list-group-item"><a href="{% url 'journals' %}">Jurnal</a></li>
        </ul>
        <br>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><h5><b>Layanan Lainnya</b></h5></li>
          <li class="layanan_menu list-group-item"><a href="/panduan">Panduan</a></li>
          <li class="layanan_menu list-group-item"><a href="/bantuan">Bantuan</a></li>
        </ul>
      </div>
      <div class="col-sm-10">
      <div class="row">
        <div class="col-sm text-start">
				<div class="accordion accordion-flush" id="accordionFlushExample">
					<div class="accordion-item">
					  <h2 class="accordion-header" id="flush-headingOne">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
							D3 Logistik Bisnis
						</button>
					  </h2>
					  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
						<div class="accordion-body">
							<tbody>
								{% for get_dokumen in data_dokumen %}
									<tr>
										<th scope="row">{{forloop.counter}}</th>
										<td>
										<a href="{{get_dokumen.file.url}}" download="{{get_dokumen.file.url}}">{{get_dokumen.nama_dokumen}}</a><br>
										</td>
									</tr>
								{% endfor %}
								</tbody>
						</div>
					  </div>
					</div>
					<div class="accordion-item">
					  <h2 class="accordion-header" id="flush-headingTwo">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
							D3 Teknik Informatika
						</button>
					  </h2>
					  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
						<div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
					  </div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="flush-headingThree">
						  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
							D3 Sistem Informasi
						  </button>
						</h2>
						<div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
						  <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
						</div>
					  </div>
					  <div class="accordion-item">
						<h2 class="accordion-header" id="flush-headingFour">
						  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
							D3 Akuntansi
						  </button>
						</h2>
						<div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
						  <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
						</div>
					  </div>
					  <div class="accordion-item">
						<h2 class="accordion-header" id="flush-headingFive">
						  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
							D3 Pemasaran
						  </button>
						</h2>
						<div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
						  <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
						</div>
					  </div>
					  <div class="accordion-item">
						<h2 class="accordion-header" id="flush-headingSix">
						  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
							D4 Logistik Bisnis
						  </button>
						</h2>
						<div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
						  <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
						</div>
					  </div>
					  <div class="accordion-item">
						<h2 class="accordion-header" id="flush-headingSeven">
						  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
							D4 Teknik Informatika
						  </button>
						</h2>
						<div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
						  <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
						</div>
					  </div>
					  <div class="accordion-item">
						<h2 class="accordion-header" id="flush-headingEight">
						  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
							D4 Akuntansi
						  </button>
						</h2>
						<div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
						  <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
						</div>
					  </div>
					  <div class="accordion-item">
						<h2 class="accordion-header" id="flush-headingNine">
						  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
							D4 Manajemen Bisnis
						  </button>
						</h2>
						<div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample">
						  <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
						</div>
					  </div>
					  <div class="accordion-item">
						<h2 class="accordion-header" id="flush-headingTen">
						  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
							D4 E-Commerce Logistics
						  </button>
						</h2>
						<div id="flush-collapseTen" class="accordion-collapse collapse" aria-labelledby="flush-headingTen" data-bs-parent="#accordionFlushExample">
						  <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
						</div>
					  </div>
					</div>
				</div>
        	</div>
		</div>
	</div>
</div>
<script>
	function show(anything){
		document.querySelector('.accordion-item').value = 
		anything;
	}

	let dropdown = document.querySelector('.accordion');
	dropdown.onclick = function(){
		dropdown.classList.toggle('active')
	}
</script>
{% comment %} <table class="table table-hover">
	<thead>
	<tr>
		<th scope="col">#</th>
		<th scope="col">Nama Dokumen</th>
		<th scope="col"></th>
	</tr>
	</thead>
	<tbody>
	{% for get_dokumen in data_dokumen %}
		<tr>
			<th scope="row">{{forloop.counter}}</th>
			<td>{{get_dokumen.nama_dokumen}}</td>
			<td>
			<a href="{{get_dokumen.file.url}}" download="{{get_dokumen.file.url}}">unduh</a>
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table> {% endcomment %}
{% endblock content %}
		

			
