{% load static %}
<div id="topheader">
  <nav class="navbar navbar-expand-md navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="/">
        <img src="{% static 'img/navlogo.png' %}" width="200" height="60" class="d-inline-block align-top" alt=""/>
      </a>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/" aria-hidden="true">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" aria-hidden="true">
            Resources
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/resources" aria-hidden="true">Repository Kami</a>
            <a class="dropdown-item" href="{% url 'bukus' %}" aria-hidden="true">Buku</a>
            <a class="dropdown-item" href="{% url 'journals' %}" aria-hidden="true">Journal</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/panduan" aria-hidden="true">Panduan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dokumen" aria-hidden="true">Dokumen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/bantuan" aria-hidden="true">Bantuan</a>
        </li>
      </ul>
    </div>
    
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          {% if request.user.is_authenticated %}
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user-circle" aria-hidden="true"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item disabled" href="#">
                <i class="fa fa-user-circle" style="vertical-align: -6px;"></i> {{ request.user.first_name }}</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'cart:cart_details' %}">
                <i class="fa fa-shopping-cart" style="vertical-align: -6px;"></i> Keranjang</a>
              <a class="dropdown-item" href="{% url 'order_list' %}">
                <i class="fa fa-calendar" style="vertical-align: -6px;"></i> Riwayat</a>
              <a class="dropdown-item" href="{% url 'book_recommendations' %}">
                <i class="fa fa-star" style="vertical-align: -6px;"></i> Rekomendasi</a>
              <a class="dropdown-item" href="{% url 'signout' %}">
                <i class="fa fa-sign-out" style="vertical-align: -6px;"></i> Sign Out</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'cart:cart_details' %}"
              ><i class="fa fa-shopping-cart" aria-hidden="true"></i>
              <i class="fa fa-angle-left" aria-hidden="true"></i>
              <span class="totalcart" id="gettotalcart"> {{ cart|length }} </span>
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'signin' %}">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'cart:cart_details' %}">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              <i class="fa fa-angle-left" aria-hidden="true"></i>
              <span class="totalcart" id="gettotalcart"> {{ cart|length }} </span>
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
  </nav>
</div>