{% extends 'base.html' %}
{% load static %}
{% load customfunction %}

{% block head %}
    <script type="text/javascript"
    src="https://app.sandbox.midtrans.com/snap/snap.js"
    data-client-key="SB-Mid-client-VJJdiDaNws6X5GlB"></script>
{% endblock head %}

{% block header %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script type="text/javascript"
src="https://app.sandbox.midtrans.com/snap/snap.js"
data-client-key="SB-Mid-client-VJJdiDaNws6X5GlB"></script>

{% endblock header %}

{% block content %}

      <div class="receipt-content">
            <div class="container">
                  <div class="row">
                        <div class="col-md-12">
                              <div class="invoice-wrapper">
                                    <div class="successful-order text-center">
                                          <h3 class="page-header">Detail Pembayaran</h3>
                                    </div>
  
                                    <br>
                      
                                    <div class="intro">
                                          Hai! <strong>{{ order.nama }} {{ order.nama_belakang }}</strong>, 
                                          <br>
                                          Silahkan melanjutkan ke proses checkout jika data yang Anda isikan sudah benar. Total tagihan yang harus Anda bayar sebesar <strong>Rp. {{ order.payable }}</strong>. 
                                    </div>
  
                                    
  
                                    <div class="payment-info">
                                          <div class="row">
                                                <div class="col-sm-12">
                                                      <span>No. Transaksi</span>
                                                      <br>
                                                      <strong>#2022{{ order.kd_transaksi }}</strong>
                                                </div>
                                                
                                                <div class="col-sm-6">
                                                      <span>Nama</span>
                                                      <br>
                                                      <strong>{{ order.nama }} {{ order.nama_belakang }}</strong>
                                                </div>
                                                
                                                <div class="col-sm-6">
                                                      <span>Email</span>
                                                      <br>
                                                      <strong>{{ order.email }}</strong>
                                                </div>
                                                
                                                <div class="col-sm-6">
                                                      <span>Telepon</span>
                                                      <br>
                                                      <strong>{{ order.telepon }}</strong>
                                                </div>
                                                
                                                <div class="col-sm-6">
                                                      <span>Metode Pembayaran</span>
                                                      <br>
                                                      <strong>Midtrans</strong>
                                                </div>
                                                                           
                                                <div class="col-sm-6">
                                                      <span>Total Item</span>
                                                      <br>
                                                      <strong>{{ order.total_buku }}</strong>
                                                </div>

                                                <div class="col-sm-6">
                                                      <span>Total Harga</span>
                                                      <br>
                                                      <strong>Rp. {{ order.payable }}</strong>
                                                </div>
                                          </div>
                                    </div>
                      
                                    <br>
  
                                    <div class="catatan">
                                          <h6><b>Catatan.</b></h6>
                                          <p>Pembayaran akan segera diproses secepatnya!</p>
                                    </div>
                          
                                    <br>
  
                                    <div class="print text-center">
                                          <button id="pay-button" class="btn btn-success">Checkout!</button>
                                    </div>
                          
                                    <br>
  
                              </div>
                        </div>
                  
                  </div>
            </div>
      </div> <br><br><br>

    <script type="text/javascript">
	      // For example trigger on button clicked, or any time you need
          var payButton = document.getElementById('pay-button');
          payButton.addEventListener('click', function () {
            // Trigger snap popup. @TODO: Replace TRANSACTION_TOKEN_HERE with your transaction token
            window.snap.pay("{{token}}", {
              onSuccess: function(result){
                    /* You may add your own implementation here */
                    window.location = "https://localhost:8000/order/";
              },
              onPending: function(result){
                    /* You may add your own implementation here */
                    window.location = "https://localhost:8000/order/";
              },
              onError: function(result){
                    /* You may add your own implementation here */
                    window.location = "https://localhost:8000/order/";
              },
              onClose: function(){
                    /* You may add your own implementation here */
                    window.location = "https://localhost:8000/order/";
              }
            })
          });
    </script>
{% endblock %}

    