{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock header %}

{% block content %}
			<div class="cart_info">
			    <table class="table table-hover">
			        <thead class="text-center">
			            <tr>
			                <th scope="col">#</th>
			                <th scope="col">No. Transaksi</th>
							<th scope="col">Jumlah</th>
			                <th scope="col">Total Harga</th>
			                <th scope="col">Status</th>
			                <th scope="col">Tgl. Transaksi</th>
							<th scope="col">Aksi</th>
			            </tr>
			        </thead>
			        <tbody class="text-center">
			            {% for morder in myorder %}
			            <tr>
			                <td>{{ forloop.counter }}</td>
			                <td><a href="{% url 'order_details' id=morder.kd_transaksi %}">#2022{{ morder.kd_transaksi }}</a></td>
			                <td>{{ morder.total_buku }}</td>
							<td>Rp. {{ morder.payable }}</td>
			                <td class="text-center">
			                	{% if morder.bayar == True %}
			                	<p class="status1">Confirmed</p>
			                	{% else %}
			                	<p class="status3">Pending</p>
			                	{% endif %}
			                </td>
			                <td>{{ morder.tgl_transaksi }}</td>
							<td>
								{% if morder.bayar == True %}
									<div class="btn-group">
										<a href="{% url 'pdf' id=morder.kd_transaksi %}" target="blank" class="btn btn-outline-dark btn-sm">Nota</a>
									</div>
			                	{% else %}
			                	<a href="{% url 'order_view' id=morder.kd_transaksi %}" class="btn btn-outline-dark btn-sm">Bayar</a>
			                	{% endif %}
							</td>
			            </tr>
			        	{% endfor %}
			        </tbody>
			    </table>
			</div>

		{% endblock %}