{% extends 'base.html' %}
{% load static %}
{% load customfunction %}
{% load crispy_forms_tags %}


{% block header %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock header %}

{% block content %}
<div class="container">
			<div class="row">
			    <div class="col-md-8 order-md-1 cart_info">
			        <h4 class="mb-3 mt-3">Details</h4>
					<p class="info-email">*Harap memasukkan alamat email yang benar. E-book akan dikirimkan melalui alamat email yang terdaftar pada form dibawah ini.</p>
					<br>
					{% if messages %}
					<div class="messages">
					    {% for message in messages %}
					    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
					    {% endfor %}
					</div>
					{% endif %}
			        <form action="" method="POST" class="needs-validation" novalidate="">
			        	{% csrf_token %}
			            <div class="row">
			                <div class="col-md-6 mb-3">
			                    {{ form.nama|as_crispy_field }}
			                </div>
			                <div class="col-md-6 mb-3">
			                  
			                   	{{ form.nama_belakang|as_crispy_field }}
			                </div>
			            </div>
	           			<div class="mb-3">
			                {{ form.email|as_crispy_field }}
			            </div>

						<div class="mb-3">
			                {{ form.telepon|as_crispy_field }}
			            </div>

			            <div class="mb-3">
			                {{ form.instansi|as_crispy_field }}
			            </div>
			            <hr class="mb-4">
			            <button id='pay-button' class="btn btn-warning btn-block" style="margin-bottom: 20px">Checkout</button>
			        </form>
			    </div>
			    <div class="col-md-4 order-md-2 mb-4">
					<ul class="list-group">
						<li class="list-group-item active d-flex justify-content-between align-items-center"><h4>Checkout</h4></li>
						<li class="list-group-item d-flex justify-content-between align-items-center">Total Buku<span>{{ cart|length }}</span></li>
						<li class="list-group-item d-flex justify-content-between align-items-center">Subtotal<span>Rp. {{ cart.get_total_price }}</span></li>
						<li class="list-group-item bg-light disabled d-flex justify-content-between align-items-center">Payable Total<span>Rp. {{ cart.get_total_price|payabletotal}}</span></li>
					</ul>
			    </div>
			</div>
		</div>

		{% endblock %}
		</script>