{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock header %}

{% block content %}

<div class="receipt-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="invoice-wrapper">
                    <div class="successful-order text-center">
                        <i class="fa fa-check"></i>
                        <h3 class="page-header">Thank you for you purchase!</h3>
                    </div>

                    <br>
                    
                    <div class="intro">
                        Hai! <strong>{{ order.nama }} {{ order.nama_belakang }}</strong>, 
                        <br>
                        Berikut merupakan nota pembayaran untuk pembelian kamu seharga <strong>Rp. {{ order.payable }}</strong>
                    </div>

                    <br>

                    <div class="payment-info">
                        <div class="row">
                            <div class="col-sm-6">
                                <span>No. Pesanan</span>
                                <br>
                                <strong>#2018{{ order.kd_transaksi }}</strong>
                            </div>
                            <div class="col-sm-6 text-right">
                                <span>Waktu Pembayaran</span>
                                <br>
                                <strong>{{ order.tgl_transaksi }}</strong>
                            </div>
                            <div class="col-sm-6">
                                <span>Metode Pembayaran</span>
                                <br>
                                <strong>Midtrans</strong>
                            </div>
                        </div>
                    </div>
                    
                    <br>

                    <div class="payment-details">
						<div class="row">
							<div class="col-sm-6">
								<span>Detail Pembeli</span>
                                <br>
								<strong>
									{{ order.nama }} {{ order.nama_belakang }}
								</strong>
								<p>
									{{ order.instansi }} <br>
									{{ order.telepon }} <br>
									{{ order.email }}
								</p>
							</div>
							<div class="col-sm-6 text-right">
								<span>Penerima Pembayaran</span>
                                <br>
								<strong>
									Repositori Politeknik Pos Indonesia
								</strong>
								<p>
									Jl. Sari Asih No.54, Sarijadi, Kec. Sukasari<br>
									Bandung, Jawa Barat<br>
									40151 <br>
									Indonesia <br>
									<a href="#">
										repositorypoltekpos@gmail.com
									</a>
								</p>
							</div>
						</div>
					</div>

                    <br>

                    <div class="line-items">
                        <div class="headers clearfix">
                            <div class="row">
                                <div class="col-md-4">Deskripsi</div>
                                <div class="col-md-3">Kuantitas</div>
                                <div class="col-md-5 text-right">Subtotal</div>
                            </div>
                        </div>
                        <div class="items">
                                <div class="row item">
                                    <div class="col-md-4 desc">
                                        Item
                                    </div>
                                    <div class="col-md-3 qty">
                                        {{ order.total_buku }}
                                    </div>
                                    <div class="col-md-5 amount text-right">
                                        {{ order.payable }}
                                    </div>
                                </div>
                        </div>

                        <br>

                        <div class="total text-right">
                            <div class="field grand-total">
                                Total Pembayaran <span>Rp. {{ order.payable }}</span>
                            </div>
                        </div>
                        
                        <br>

                        <div class="catatan">
                            <h6><b>Catatan.</b></h6>
                            <p>E-book akan dikirim melalui email. Harap cek email yang telah terdaftar pada saat melakukan pembelian.</p>
                        </div>
                        
                        <br>

                        <div class="print text-center">
                            <a href="{% url 'order:pdf' id=order.kd_transaksi %}">
                                <i class="fa fa-print"></i>
                                Print this receipt
                            </a>
                        </div>
                        
                        <br>

                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
 
{% endblock %}
