{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load customfunction %}

{% block header %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock header %}

{% block content %}
	<div class="container-fluid">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-2">
							<ul class="list-group list-group-flush">
								<li class="list-group-item"><h5><b>Kategori Buku</b></h5></li>
								{% for item in cat %}
								<li class="kategori_menu list-group-item"><a href="{% url 'kategori' id=item.id_kategori %}">{{ item.nama_kategori }}</a></li>
								{% endfor %}
								
							</ul>
						</div>
						<div class="col-sm-2">
							<div class="grid-item">
								<div class="view-details" style="cursor:pointer">
									<img id="product_image" class="lookInsideImg" src="{{ buku.cover.url }}">
								</div>
							</div>		
						</div>
			
						<div class="col-sm-6">
							
							<div class="product-information">
								<h4>{{ buku.jdl_buku }}</h4>
								<p><a href="{% url 'kategori' id=buku.kategori.id_kategori %}">{{ buku.kategori }} </a></p>
								<p style="margin: 0px">by <a style="font-weight:bold" href="{% url 'pengarang' id=buku.pengarang.id_pengarang %}">{{ buku.pengarang }}</a></p>
								<div class='rating'>
									{{ buku.totalrating|averagerating:buku.totalreview }}
									<a href='#getreview'><span class='totalrating'>{{ buku.totalreview|add:-1 }} Reviews</span></a>
								</div>
								<article class="text-justify" style="margin-top:10px;">
									{{ buku.deskripsi }}
								</article>

							</div>
							<div class="review" id="getreview">
								{% if messages %}
									<div class="messages">
										{% for message in messages %}
										<p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
										{% endfor %}
									</div>
								{% endif %}	
								<div class="rating-stars text-left">
									<ul id="stars">
									  <li id="azaa" class="star" data-value="1"> <i class="fa fa-star fa-fw"></i> </li>
									  <li id="azbb" class="star" data-value="2"> <i class="fa fa-star fa-fw"></i> </li>
									  <li id="azcc" class="star" data-value="3"> <i class="fa fa-star fa-fw"></i> </li>
									  <li id="azdd" class="star" data-value="4"> <i class="fa fa-star fa-fw"></i> </li>
									  <li id="azee" class="star" data-value="5"> <i class="fa fa-star fa-fw"></i> </li>
									</ul>
								</div>
									
							   	<form action="" method="POST" class="needs-validation" novalidate="">
								   {% csrf_token %}
								
									<div class="form-group">
										{{ form.review_star|as_crispy_field }}
									</div>
									<div class="form-group">
										{{ form.review_text|as_crispy_field }}
									</div>
									<br>
									
									<div class="form-group">
										<button class="btn btn-warning" type="submit" style="color: #fff">Submit </button>
									</div>
							   	</form>	
							   
							   	<br><br><br>
							   
								{% for lreview in rreview %}
								<h4>Ulasan</h4>
								<div class="card">
									<div class="card-body">
										<img src="{% static 'img/profile.png' %}"/>
										<b> {{ lreview.reviewer }} </b>
										<div class='rating'>
											{{ lreview.review_star|averagerating:1 }}
										</div>
										<div class="given_review_date">
											<span style="color:#555;"> {{ lreview.created }}</span>
										</div>
										<p style="margin-top: 10px"> {{ lreview.review_text }} </p>
									 </div>
								</div>
								<br>
								{% endfor %}
							</div>
						</div>
						<div class="col-sm-2">
							<div class="pricebox">
								<p>Harga: Rp. <span> {{ buku.harga }}</span></p>
								<button class="btn btn-warning" id="addTocart" data-buku-id="{{ buku.id_buku }}">
									<i class="fa fa-shopping-cart"></i> Keranjang
								</button>
							</div>
						</div>
					</div>	
				</div>
				
				<div class="col-sm-12">	
					<div class="titleheader">
						<h3 class="h2header text-center">Buku Lainnya</h3>
					</div>
					<div class="regulara sliderzx text-center">
						{% for item in rekombuku %}
						<div class="book-wrapper text-center">
							<div class="coverpage">
								<img src="{{ item.cover.url }}"/>
							</div>
							<a href="{% url 'buku' id=item.id_buku %}">{{ item.jdl_buku|text_short }}</a>
                            <a href="{% url 'pengarang' id=item.pengarang.id_pengarang %}">{{ item.pengarang }}</a>
							<div class="rating">
								{{ item.totalrating|averagerating:item.totalreview }}
								<span class="totalrating">{{ item.totalreview|add:-1 }}</span>
							</div>
							<p>Rp. {{ item.harga }}</p>
						</div>
						{% endfor %}
					</div>
				</div>
					
				<div class="col-sm-9 mt-5" id="getreview"></div>
					<div class="d-pagination">
					    <ul class="pagination">
						{% if rreview.has_previous %}
							<li class="page-item">
								<a class="page-link" href="?page=1">First</a>
							</li>								
							<li class="page-item">
								<a class="page-link" href="?page={{ rreview.previous_page_number }}">Previous</a>
							</li>
						{% endif %}
						{% for ord in rreview.paginator.page_range %}
							{% if rreview.number == ord %}
								<li class="page-item active">
									<span class="page-link">{{ ord }}
										<span class="sr-only">(current)</span>
									</span>
								</li>
							{% elif ord > rreview.number|add:'-3' and ord < rreview.number|add:'3' %}
								<li class="page-item">
									<a class="page-link" href="?page={{ ord }}">{{ ord }}</a>
								</li>

							{% endif %}

						{% endfor %}
						 {% if rreview.has_next %}
							<li class="page-item">
								<a class="page-link" href="?page={{ rreview.next_page_number }}">Next</a>
							</li>
							<li class="page-item">
								<a class="page-link" href="?page={{ rreview.paginator.num_pages }}">Last</a>
							</li>
						{% endif %}
					    </ul>
					</div>		
				</div>
			</div>
		</div>
	</div>

{% endblock %}


{% block scripts %}
<script type="text/javascript">
	$(document).on('ready', function() {
		$(document).on('click', '.lookInsideImg,.lookInsideBg', function (e) {
			$('div.overlay').fadeIn(500);
			$('div.lookInsideDiv').fadeIn(500);
		});
	   
	   $(document).on('click', 'div.lookInsideDiv div.exitBtn', function () {
			$('div.overlay').fadeOut(500);
			$('div.lookInsideDiv').fadeOut(500);
			refCaro($('#bookDR99'));
		});
		$(document).on('click', 'div.overlay', function () {
			$('div.overlay').fadeOut(500);
			$('div.lookInsideDiv').fadeOut(500);
			refCaro($('#bookDR99'));
			return false
		});	
	});
</script>

{% endblock %}
