{% extends "base.html" %}
{% load static %}
{% load customfunction %}

{% block header %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock header %}

{% block content %}
<div class="row">
    <div class="col-sm-2">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><h5><b>Kategori Buku</b></h5></li>
            {% for k in cat %}
            <li class="kategori_menu list-group-item"><a href="{% url 'kategori' id=k.id_kategori %}">{{ k.nama_kategori }}</a></li>
            {% endfor %}
            
        </ul>
    </div>

    <div class = 'col-sm-10'>
        {% for item in buku %}
        <div class="book-wrapper text-center">
            <div class="coverpage">
                <img src="{{ item.cover.url }}"/>
            </div>
            <a href="{% url 'buku' id=item.id_buku %}">{{ item.jdl_buku }}</a>
            <a href="{% url 'pengarang' id=item.pengarang.id_pengarang %}">{{ item.pengarang }}</a>
            <div class="rating">
                {{ item.totalrating|averagerating:item.totalreview }}
                <span class="totalrating">{{ item.totalreview|add:-1 }}</span>
            </div>
            <p> Rp. {{ item.harga }} </p>
            <button class="btn btn-warning" id="addTocart" data-buku-id="{{ item.id_buku }}">
                    <i class="fa fa-shopping-cart"></i> Keranjang
            </button>
        </div>
        {% endfor %}

        {% if buku|length > 0 %}
        <div class="d-pagination">
            <ul class="pagination">
            {% if buku.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">First</a>
                </li>								
                <li class="page-item">
                    <a class="page-link" href="?page={{ buku.previous_page_number }}">Previous</a>
                </li>
            {% endif %}
            {% for ord in buku.paginator.page_range %}
                {% if buku.number == ord %}
                    <li class="page-item active">
                        <span class="page-link">{{ ord }}
                            <span class="sr-only">(current)</span>
                        </span>
                    </li>
                {% elif ord > buku.number|add:'-3' and ord < buku.number|add:'3' %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ ord }}">{{ ord }}</a>
                    </li>

                {% endif %}

            {% endfor %}
            {% if buku.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ buku.next_page_number }}">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ buku.paginator.num_pages }}">Last</a>
                </li>
            {% endif %}
            </ul>
        </div>
        {% else %}
        <h3 class="text-center mt-5">There are no books Found.</h3>
        {% endif %}	
    </div>
</div>

{% endblock %}