{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" type="x-icon" href="{% static 'img/icon-tab.png' %}">
	<title> {{ subjudul }} | E-repository Poltekpos</title>
	{% block head %}
	
	{% endblock head %}
	
	<link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/slick-theme.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/skdslider.css' %}">
	<!-- Rating CSS -->
    <!-- Reset styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">

	{% block app_css %}
		<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static app_css %}">
	{% endblock app_css %}
	{% include "snippets/styles.html" %}
</head>

<body>
	{% include "snippets/navbar.html" %}
	
	{% block header %}
	
	{% endblock header %}

	<!-- Messages -->
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible text-center" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button> 
        {{ message }}
    </div>
    {% endfor %}

	 <!-- Bootstrap modal -->
	 <div class="modal fade" id="bookModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="booktitle">Basic Modal</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
	
						<div class="col-8">
							<strong>Summary: </strong><br>
							<img id="loading" src="{% static '/img/loading.gif' %}">
							<p id="booksummary">
	
							</p>
							<strong>Authors:</strong>
							<p id="bookauthors">
							</p>
	
							<div id="bookrating"></div>
						</div>
	
						<div class="col-4">
							<img class="img-book" src="" id="bookimage">
						</div>
						{% if user.is_authenticated %}
						<button id="save-book-button" class="btn">Save for Later</button> 
						{%endif%}
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	</div>
	<!-- End boostrap modal -->

	<br>

	<div id="container">

		{% block content %}
					
		{% endblock %}

	<div id="snackbar"></div>

		{% include "snippets/footer.html" %}
	
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
	<!-- Rating JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>

	<script>
	// get book summary
        function getsummary(bookid) {
            $.ajax({
                data: {
                    'bookid': bookid,
                    'csrfmiddlewaretoken': Cookies.get('csrftoken')
                },
                dataType: 'json',
                url: "{% url 'summary_ajax' %}",
                type: 'POST',
                success: function(response) {
                    $('#loading').hide();
                    $('#booksummary').text(response['booksummary']);
                },
                error: function(response) {
                    console.log(response)
                }
            })
        }
	// display book boostrap modal when clicked
	function openModal(obj) {
		$('#booksummary').text("");
		$('#loading').show();
		var bookid = obj.getAttribute('data-bookid');
		var summary = getsummary(bookid);
		var bookName = obj.innerHTML;
		var authors = obj.getAttribute('data-authors');
		var imageurl = obj.getAttribute('data-imageurl');
		var averagerating = obj.getAttribute('data-averagerating');
		$('#booktitle').text(bookName);
		$('#bookauthors').text(authors);
		$('#bookimage').attr('src', imageurl);
		$("#bookrating").rateYo({
			rating: averagerating,
			readOnly: true
		});
		$('#bookModal').modal('show');
		$('#search-dropdown').empty();
	}

	$("#bookName").focus(function() {
			$('#search-dropdown').show();
		}).blur(function() {
			$('#search-dropdown').hide(150);
		})
		//for rating a book
	$(function() {

		$(".rateYo").rateYo({
			rating: 0,
			starWidth: "20px",
			fullStar: true
		});

	});
	// when hover over rate
	function rateStart(obj) {
		var bookid = obj.getAttribute('data-book-id');
		$('#rate-' + bookid).css('display');
	}
	// onclick rate
	function rateBook(obj) {
		var bookid = obj.getAttribute('data-book-id');
		var bookrating = $('#rate-' + bookid).rateYo('rating');
		$('#rating-block-' + bookid).css('transition', 'background-color 2s ease');
		$('#rating-block-' + bookid).css('background-color');
		console.log('#rating-block-' + bookid);
		$.ajax({
			data: {
				'bookid': bookid,
				'bookrating': bookrating,
				'csrfmiddlewaretoken': Cookies.get('csrftoken')
			},
			dataType: 'json',
			url: "{% url 'user_rate_book' %}",
			type: 'POST',
			success: function(response) {

			},
			error: function(response) {
				console.log(response);
			}
		});
	}

	// Retrieve and display book details in Modal
	function bookDetails(obj) {
		var bookid = obj.getAttribute('data-book-id');
		$.ajax({
			data: {
				'bookid': bookid,
				'csrfmiddlewaretoken': Cookies.get('csrftoken')
			},
			dataType: 'json',
			url: "{% url 'book_details' %}",
			type: 'POST',
			success: function(response) {
				var book_details = JSON.parse(response['book_details'])[0];
				$('#booksummary').text("");
				$('#loading').show();
				var summary = getsummary(bookid);
				var bookName = book_details.original_title;
				var authors = book_details.authors;
				var imageurl = book_details.image_url;
				var averagerating = book_details.average_rating;
				$('#booktitle').text(bookName);
				$('#bookauthors').text(authors);
				$('#bookimage').attr('src', imageurl);
				$("#bookrating").rateYo({
					rating: averagerating,
					readOnly: true
				});
				$('#bookModal').modal('show');
				$('#search-dropdown').empty();
				$('#save-book-button').on('click', function() {
					var bookid = obj.getAttribute('data-book-id');
					$('#save-book-button').css('transition', 'background-color 2s ease');
					$('#save-book-button').css('background-color', '#ffa007');
					$('#save-book-button').text('Saved !');
					setTimeout(function() {
						$('#save-book-button').text('Save for Later');
						$('#save-book-button').css('transition', 'background-color 2s ease');
						$('#save-book-button').css('background-color', '#ffc107');
					}, 3000);
					$.ajax({
						data: {
							'bookid': bookid,
							'csrfmiddlewaretoken': Cookies.get('csrftoken')
						},
						dataType: 'json',
						url: "{% url 'save_book' %}",
						type: 'POST',
						success: function(response) {

						},
						error: function(response) {
							console.log(response);
						}
					})
				})
			},
			error: function(response) {
				console.log(response);
			}
		});
	}
	</script>

	{% block scripts %}
		
	{% endblock %}

    {% include "snippets/jscripts.html" %}

</body>
</html>