<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>


<div class="container">
	<div class="row justify-content-md-center">
		<div class="col-md-4 col-sm-3">
			<div class="signin-form">
				{% if messages %}
				<div class="messages">
				    {% for message in messages %}
				    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
				    {% endfor %}
				</div>
				{% endif %}
				<div class="text-center">
					<h3> Login </h3>
				</div>	
				<form method="POST" class="auth-validate-form">
					{% csrf_token %}
					<div class="form-group">
					   <label>Username</label>
					   <input type="text" name="user" class="form-control">
					</div>
					<div class="form-group">
					   <label>Password</label>
					   <input type="password" name="pass" class="form-control">
					</div>
					<button type="submit" class="btn btn-warning">Masuk</button>
				</form>
				<div class="a-divider-break"><h5>Baru di E-Repository?</h5></div>
				<a class="btn btn-default" href="{% url 'registration' %}">Buat Akun Repository Kamu!</a>
			</div> 
		</div>
	</div>
</div>

</body>
</html>