<!DOCTYPE html>
<html>
<head>
	<title>Registrasi</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
<div class="container">
	<div class="row justify-content-md-center">
		<div class="col-md-4 col-sm-3">
			<div class="signup-form">
				<div class="messages"></div>	
				<h3> Buat Akun Baru</h3>	
				<form action="" method="POST" class="auth-validate-form">
					{% csrf_token %}
					{% for field in form %}
					    <div class="form-group registration-form">
					        {{ field.label_tag }}<br>
					        {{ field }}

					        {% if field.help_text %}{% endif %}

					        {% for error in field.errors %}
					          <p style="color: red;font-size: 13px">{{ error }}</p>
					        {% endfor %}
					    </div>
					{% endfor %}
					<button class="btn btn-warning">Buat Akun Barumu!</button>
				</form>
				<div class="a-divider-break"></div>
				<div class="a-divider-inner">
					<div class="a-row">
					    Sudah punya akun?
					    <a class="a-link-emphasis" href="{% url 'signin' %}"><i class='fa fa-caret-right'></i> Masuk</a>
					</div>						
				</div>
			</div> 
		</div>
	</div>
</div>
</body>
</html>